*{
	margin: 0;
	padding: 0;
}

body {
  font-family: Arial;
  background: red;
  color: white;
  display: block;
  font-size: 16px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  position: relative;
}

.item-vert {
	flex: 1;
	transition: flex 0.3s ease;
}

.item-hor {
	flex: 1;
	transition: flex 0.3s ease;
}

.item-text {
	flex: 1;
	transition: flex 0.3s ease;
	padding: 5px;
}

.item-vert img {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
}

.item-hor img {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
}


.container:hover .item-vert {
	flex: 0.5;
}

.container:hover .item-hor {
	flex: 0.5;
}

.container:hover .item-text {
	flex: 0.5;
}


.container .item-vert:hover {
  z-index: 1;
  flex: 2;
}

.container .item-hor:hover {
  z-index: 1;
  flex: 3;