*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "CompagnonLight";
}

.container{
	display: grid;
	grid-template-rows: repeat(3, minmax(0px, 1fr)); 
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    grid-gap: 10px 10px;

}

.item{
	background: red;
}

.item-1{
	background: yellow;	
	object-fit: contain;
	width: 400px;
	height: 600px;
}

.item-2{
	background: blue;
	object-fit: fill;	
	width: 400px;
	height: 600px;
}

.item-3{
	background: green;	
	object-fit: fill;	
	width: 400px;
	height: 600px;
}

.item-4{
	background: orange;	
	object-fit: fill;	
	width: 400px;
	height: 600px;
}

.item-5{
	background: violet;	
}

.item-6{
	background: yellowgreen;	
}

.item-7{
	background: orangered;	
}

.item-8{
	background: blueviolet;	
}

.item-9{
	background: turquoise;	
}

.item-10{
	background: mediumvioletred;	
}

.item-11{
	background: brown;	
}

.item-12{
	background: grey;	
}

